@use "abstracts" as *;

/* Tables
--------------------------------------------- */

.wp-block-table  {

    border-collapse: collapse;
    width: 100%;

	td, th {
		padding: .5em;
	    border: 1px solid $grey_4;
	}

    th {
        background-color: $primary-color;
        color: $white;
    }
}