@use "abstracts" as *;

/* Entry Meta
--------------------------------------------- */
/* Entry Meta
--------------------------------------------- */

.entry-header {

	.entry-meta {
        font-size: 16.2px;
        margin-bottom: 0;
        // font-style: italic;
        font-size: 85%;
        font-weight: 400;
        color: $grey_7;
		margin-bottom: 20px;

        // reset all link styles on entry header.
        a {
            color: inherit;
            font-weight: 400;
            text-decoration-color: inherit;

            &:hover {
                text-decoration: none;
            }
        }
	}

    .entry-time,
    .entry-author,
    .entry-categories {
        position: relative;
        padding-left: 25px;
        margin-right: 1rem;

        &::before {
            content:'';
            position: absolute;
            top: 50%;
            right: 0;
            bottom: 0;
            left: 0;
            transform: translateY(-50%);
            background: url(../../assets/icons/utility/calendar.svg) no-repeat 50% 50%;
            background-size: cover;
            width: 18px;
            height: 18px;
        }
    }

    .entry-categories {

        &::before {
            background: url(../../assets/icons/utility/folder.svg) no-repeat 50% 50%;
            background-size: cover;
        }
    }

    .entry-author {

        &::before {
            background: url(../../assets/icons/utility/user.svg) no-repeat 50% 50%;
            background-size: cover;
        }
    }

	.entry-footer & {
		border-top: 1px solid $grey_3;
		padding-top: $block-margin;
        margin-top: $block-margin;
	}

	// .entry-comments-link::before {
	// 	content: "\2014";
	// 	margin: 0 6px 0 2px;
	// }
} 
  
.entry-tags {
	display: flex;
    flex-flow: row wrap;
    
    a {
        line-height: 1.4;
        font-weight: 400;
        padding: .25ch 1.25ch;
        margin: 0 6px 6px 0;
        background-color: transparent;
        text-decoration: none;
        color: $base-color;
        border-radius: $border-radius;
        border: 1px solid $grey_4;

        &:hover {
            color: $white;
            background-color: $highlight;
            border-color: $highlight;
        }
    }
}



.breadcrumb {
	font-size: 16px;
	margin-bottom: 24px;

	a {
		color: $primary-color;

		&:hover {
			color: $highlight;
		}
	}

	.single & {
		border-top: 1px solid $grey_3;
		padding-top: 32px;
		text-align: center;
	}
}

.author-box {
	position: relative;
	padding-left: 120px;
	min-height: 120px;

	.archive & {
		grid-column: 1 / -1;
		max-width: $content-width;
		margin: 0 auto $grid-gap;
	}

	.author-box-title {
		@include font-sizes( 22px, 28px );
	}

	.avatar {
		border-radius: 50%;
		position: absolute;
		top: 0;
		left: 0;
	}
}